.tabelaProd {
    
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid #ccc;
    
    .tabelaCabecalho {

        background-color: #5900ff;
        color: #fff;

        & th {
            border: 2px solid #ccc;
            text-align: center;
        }

    }

    .tabelaCorpo {
        & tr {

        height: 48px !important;

            &:hover {
                background-color: #5900ff;
                color: #ffffff;
                .icon {
                    color: #fff;

                }
            }

            & td {
                border: 2px solid #ccc;
    
                & img {
                    display: block;
                    margin: 0 auto;
                    width: 15%;
                    transition: 0.4s;
                    &:hover {
                        width: 40%;
                    }
                }

                &:first-child{
                    text-align: center;
                }

                &:last-child{
                    text-align: center;
                }

            }

        }

    }

    .tabelaRodape {
        
        display: flex;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 18px;

    }

}

@keyframes brilho {

    0%, 100% { color: #5900ff;}
    50% {
        color: #2d0b6b;
        font-stretch: 1.5px;
    }

}